html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

label {
  margin-bottom: 0;
}

.settings-col {
  background: #eee;
  height: 100vh;
  overflow-y: scroll;
}

h5 {
  margin-top: 3rem;
}
