html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

label {
  margin-bottom: 0;
}

.settings {
  background: #eee;
  height: 100vh;
}

h5 {
  margin-top: 2rem;
}

dd {
  margin-left: 20px;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: orangered;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: orangered;
  cursor: pointer;
}


#help{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}



/* h2 {
  position: relative;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}
h2:before, h2:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: red;
}
h2:before {
  margin-left: -50%;
  text-align: right;
} */


h2{
  line-height: 0.5;
  text-align: center;
}
h2 span {
  display: inline-block;
  position: relative;
}
h2 span:before,
h2 span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
  top: 0;
  width: 100px;
  margin-top: 5px;
}
h2 span:before {
  right: 100%;
  margin-right: 15px;
}
h2 span:after {
  left: 100%;
  margin-left: 15px;
}
